html * {
  font-family: sans-serif !important;
  color: #f7f7f7;
  background-color: #2e302e;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  /* width: 10px; */
}
@media screen and (max-width: 1920px) {
  main {
    padding-left: 20lvw;
    padding-right: 20lvw;
    padding-top: 30lvh;
    padding-bottom: 10lvh;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 5lvw;
    padding-right: 5lvw;
    padding-top: 15lvh;
    padding-bottom: 3lvh;
  }
}

a {
  color: darkcyan !important;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

#top-navbar {
  * {
    background-color: var(--bs-dark-rgb);
  }
  z-index: 1000;
  position: fixed;
  width: 100%;
  a:hover {
    opacity: 0.75;
  }
}

#presentation {
  height: 100lvh;
  #hello {
    font-size: 2vmax;
  }

  #name {
    font-size: 5vmax;
    font-weight: bold;
  }

  #subtitle {
    font-size: 1.5vmax;
  }

  #presentation-paragraph {
    margin-top: 4vmax;
    ul {
      list-style: none;
      li {
        p {
          max-width: 50vmax;
        }
      }
    }
  }
}
#about {
  padding-top: 50lvh;
  padding-bottom: 50lvh;
}
#experience {
}
#projects {
}
#contact {
}
